.case-footer {
    background-color: #2e2f42;
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.text-footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.logofooter {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
text-decoration: none; 
/* line-height: 24px; */ 
line-height: 1.33333;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.logospan1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
text-decoration: none; 
/* line-height: 24px; */ 
line-height: 1.33333;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
  }