
.portfolio {
   background-color: #ffffff;
   text-align: center;
   padding-block: 120px;
   padding-inline: 0px;
   width: 1440px;
   height: 1240px;
   display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 10px;
padding-top: 120px;
padding-bottom: 120px; 
}

.container-portfolio {
    display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 10px;
padding: 120px;
padding-inline: 16px;
width: 1440px;
height: 1240px;

}
.h2-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
.portfolio-list {
    list-style: none;
    background: #fff;
    display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  width: 1128px;
height: 888px;

}
.h3-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.p-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}